* {
    font-family: Roboto, sans-serif;
}
body {
    margin-top: 80px;
    margin-left: 80px;
    background-color: #151515;
    color: white;
}

/********** Devices display block *************/

@media screen and (max-width: 1200px) {
    .top-search-bar {
        width: 30rem;
    }
}

@media screen and (max-width: 992px) {
    .top-search-bar {
        width: 20rem;
    }
}

@media screen and (max-width: 760px) {
    .top-search-bar {
        width: 10rem;
    }
}

@media screen and (max-width: 490px) {
    .top-search-bar,
    .fa-magnifying-glass {
        display: none;
    }
}