/******** Top Menu *********/

.header-top {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fa-solid {
    padding: 20px;
}
.fa-bars {
    margin-top: 10px;
}
.left-sec-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-left-section {
    width: 200px;
}

.logo-yt {
    width: 115px;
    padding: 15px 14px 18px 16px;
}

.nav-center-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-left: 5%;
}

.top-search-bar {
    width: 40rem;
    min-width: 10rem;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #424242;
    background-color: #151515;
    padding-left: 25px;
    transition: background-color 0.5s;
    }

input::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(155, 155, 155);
}

input:focus,
input:hover,
input:active
input::after {
    color: rgb(255, 255, 255);
    border: none;
}

.nav-right-section {
    display: flex;
    justify-content: right;
    width: 300px;
    margin: 0;
}

.center-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-magnifying-glass {
    background-color: #424242;
    width: 27px;
    height: 4px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
    top: 5px;
    cursor: pointer;
    }

   
    @media screen and (max-width: 990px) {
        .top-search-bar {
            width: 30rem;
        }
    }
    
    @media screen and (max-width: 760px) {
        .top-search-bar {
            width: 10rem;
        }
    }
    
    @media screen and (max-width: 490px) {
        .top-search-bar,
        .fa-magnifying-glass {
            display: none;
        }
    }

.fa-video,
.fa-bell {
    margin: 0px;
}

.fa-video:hover,
.fa-bell:hover {
    transition: 0.5s;
    color: red;
    cursor: pointer;
}

.right-sec-icon {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.profile-id {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    object-position: center;
    object-fit: cover;
    margin-left: 20px;
    transition: 0.5s;
    margin-top: 3px;
}

.profile-id:hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/******** Left Menu *********/

.header-left {
    width: 55px;
    border-right: 1px solid rgb(255, 255, 255);
    background-color: #151515;
    position: fixed;
    left: 0;
    height: 100%;
    top: 55px;
    right: 0;
}


.left-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


