* {
    font-family: Arial, Helvetica, sans-serif;
}  

body {
    padding-bottom: 1000px;

}
/******** 12a ********/
.flexbox-a {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 50px;
}

.flex-left {
    width: 200px;
    background-color: lightblue;

}
.flex-right {
    width: 75px;
    background-color: lightpink;
}

.flexbox-b {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 50px;
}

.flex-left-a {
    flex: 1;
    background-color: lightblue;
}
.flex-mid-b {
    flex: 1;
    background-color: lightpink;
}

.flex-right-c {
    flex: 1;
    background-color: lightblue;
}
/******** 12c ********/
.flexbox-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.flex-1a,.flex-1b,.flex-1c,.flex-1d {
    background-color: lightpink;
}

.flex-d-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: white;
    width: 300px;
    height: 100px;
    margin: 5%;
    border: 1px solid black;
}
.flex-d-1 {
    width: 50px;
    background-color: red;
    margin-bottom: 12%;
}
.flex-d-2 {
    width: 50px;
    background-color: green;
    margin-bottom: 12%;    
}
/******** 12e ********/
.exercise-12e {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    width: 260px;
    margin-bottom: 50px;
    background-color: white;
    padding: 1.5%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    line-height: 30px;
}

.num-14 {
    font-weight: 700;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 30px;
    font-size: 13px;
}

.num-3 {
    font-weight: 700;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 30px;
    font-size: 13px;
}

.num-5 {
    font-weight: 700;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 20px;
    font-size: 13px;
}

/******** 12e ********/

exercise-12f {
    
}
.flex-12f {
    background-color: rgb(120, 38, 197);
    border: 1px solid rgb(106, 106, 106);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

.home-12f {
    color: white; 
    font-size: 13px;
}

.placeholder {
    width: 60%;
    min-width: 20%;
    height: 25px;
    border-radius: 25px;
    border: none;

}

.download-12f {
    border: 1px solid white;
    background-color: none;
    color: white;
    font-size: 13px;
}

.twitter-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    height: auto;
    background-color: white;
    margin: 0px 0px 20px 0px;
}

.profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

span {
    font-size: small;
}
.account-info {
    width: 120px;
    padding-left: 5px;
}
.name-12g {
    font-size: 15px;
    font-weight: bold;
}

.alias-cat {
    color: rgb(201, 201, 201);
    word-spacing: 2px;
}

.status-cat {
    color: rgb(201, 201, 201);
}

button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  cursor: pointer;
  
}

