.footer {
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    padding: 30px 0;
}
#awesome i{
    font-size: 2rem;
    color: var(--bg-secondary);
    transition: .5s;
}
#awesome i:hover {
    border: 1px solid #fff;
    padding: 5px;
}
 /* Modal */
