/* General Start */
body {
    font-family: 'Open Sans', sans-serif;
}
:root {
    /* Branding Color */
    --bg-primary: blue;
    --bg-secondary: #fff;
    --clr-neutral-100: rgb(236, 236, 236);
    --clr-font-primary: rgb(131, 131, 131);

    --box-shadow: 1px 1px 10px #ececec,
    -1px -1px 10px #ffffff;

    /* Font Styles */
    --fs-primary: 'Open Sans', sans-serif;
    --fs-secondary: 'Poppins', sans-serif;

    /* Font Weight */
    --ff-sz-300:  300;
    --ff-sz-400:  500;
    --ff-sz-600:  600;
    --ff-sz-900:  900;
    /* Font Size */
    --fs-ld1: 3.875rem;
    --fs-h1: 2.875rem;
    --fs-h2: 2rem;
    --fs-h6: 1.5rem;
    --fs-p: 1.125rem;
    --fs-p1: 1.25rem;
    --fs-lp: 1rem;
}
.bg-primary {
    background-color: var(--bg-primary) !important;
}
.bg-secondary {
    background-color: var(--bg-secondary) !important;
}
.box-shadow {
    box-shadow: var(--box-shadow);
}
.hd-1 {
    font-size: var(--fs-ld1);
    font-weight: var(--ff-sz-900);
}
.h1 {
    font-size: var(--fs-h1);
    font-weight: var(--ff-sz-600);
}
.h2 {
    font-size: var(--fs-h2);
    font-weight: var(--ff-sz-600);
}
.p-1 {
    font-size: var(--fs-p);
}
span {
    font-weight: var(--ff-sz-600);
    color: var(--bg-primary);
}
.p {
    font-size: var(--fs-p1);
    font-style: var(--fs-primary);
    color: var(--clr-font-primary);
}
.navbar {
    padding: 0 !important;
}
.py-cus {
    margin-top: 8rem;
    width: 400px;
}
.py-cus-mobile {
    margin: 5rem 0;
    width: 350px;
}
.py-cus-mobile h1{
    font-size: var(--fs-h1);
    font-weight: var(--ff-sz-600);
}
.skills-container span {
    color: var(--clr-font-primary);
    
}
.html,.css,.javascript,.shopify,.wordpress,.github,.sqlbasics,.linux,.figma,.graphicdesign,.photoshop,.illustrator,.premiere {
    color: rgb(103, 103, 103);
    font-size: var(--fs-p);
    line-height: 6rem;
    padding: 18px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  1px 1px 10px #ececec,
                -1px -1px 10px #ffffff;
    margin: 10px 10px 10px 0px;
    border: 3px solid blue;
    }   
@media (max-width: 567px) {
    .navbar {
        padding-left: 12px !important;
    }    
}  
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler.collapsed + .navbar-collapse {
        display: block;
    }
    #landing {
        display: none;
    }
}
/* General End */
.logo {
    padding: 0;
    width: 70px;
    border-radius: 5px;
}
.logo-container {
    width: 300px;
    height: auto;
    position: relative;
}
.logo-container strong,
.logo-container p {
    padding: 0;
    margin: 0;
    position: absolute;
}
.logo-container strong {
    top: -16px;
    font-size: var(--fs-h1);
    font-weight: var(--ff-sz-600);
    font-family: var(--fs-secondary);
}
.logo-container p {
    bottom: -22px;
    font-size: var(--fs-h1);
    font-family: var(--fs-secondary);
    font-weight: var(--ff-sz-300);
}
ul li {
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
    padding: 2rem;
    display: flex;
    align-items: center;
}
ul li:hover {
    background-color: var(--clr-neutral-100);
    cursor: pointer;
}
@media (max-width: 1200px) {
    .logo-container strong {
        top: -5px;
        font-size: var(--fs-h2);
    }
    .logo-container p {
        bottom: -5px;
        font-size: var(--fs-h2);
    }
}    
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler.collapsed + .navbar-collapse {
        display: block;
    }
}
/* Header End */
#landing {
    min-height: 87vh;
    background-image: url('images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
@media (max-width: 1920px) {
    .py-cus {
        margin-top: 13rem !important;
    }
}   
@media (max-width: 1600px) {
    #landing {
        min-height: 77vh;
    }
    .py-cus {
        margin-top: 11rem !important;
    }
}    
@media (max-width: 1440px) {
    #landing {
        min-height: 67vh;
    }
}    
@media (max-width: 1200px) {
    #landing {
        min-height: 55vh;
    }
    .p-1 {
        font-size: var(--fs-lp) !important;
    }
    .py-cus {
        margin-top: 9rem !important;
        width: 300px !important;
    }
}    
@media (max-width: 992px) {
    #landing {
        min-height: 45vh;
    }
    .hd-1 {
        font-size: var(--fs-h1) !important;
    }
    .p-1 {
        font-size: var(--fs-lp) !important;
    }
    .py-cus {
        margin-top: 6rem !important;
        width: 250px !important;
    }
} 
/* Tablet Display Settings */
/* Display None =< Medium Screen */
@media (min-width: 768px) {
    #landing-mobile {
        display: none;
    }
}  
button {
    font-size: var(--fs-p);
    font-weight: 500;
    padding: 10px 2rem 10px 2rem;
    border: 2px solid blue;
    background: blue;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background: white;
    color: blue;
}
/* Main End */
.footer {
    background-color: var(--bg-primary);
    color: white; 
    padding: 30px 0;
}
#awesome i{
    font-size: 2rem;
    color: white;
    transition: 0.5s;
}
#awesome i:hover {
    color: var(--clr-font-primary);
}
/* Footer End */